@charset "utf-8";

/* 共通スタイル */
html,body{
  margin: auto;
  padding: 0px;
  padding-top: 0px;
  width: 100%;
}
.main{
  padding: 7%;
  padding-top: 0px;
  padding-bottom: 0px;
}
h1{
  color: #517D99;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 0px;
}
h2{
  margin: 0px;
  margin-bottom: 15px;
  font-size: 25px;
  color: #454545;
  font-family: 'Kosugi Maru', sans-serif;
}
p{
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0px;
  line-height: 150%;
}

/* 背景動画 */
.video-back {
  position: relative;
}
.video-back video {
  width: 100%;　/* ページ幅100% */
  display: block;　/* 一般的な要素の表示形式 */
  margin: 0;　/* 余白の設定 */
}
.TOPtext{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw; /* ビューポートに合わせて変更 */
  color: black;
  letter-spacing: 25px; /* 文字間隔 */
  line-height: 100%; /* 行間 */
  font-family: 'Staatliches', cursive;
}

/*ヘッダー*/
header{/*変化前のヘッダーのサイズやアニメーションの設定*/
  position: fixed;
  top: 20; /*上の余白*/
  background-color: #6AC1B7;
  transition: all 300ms 0s ease;
  z-index: 1;
  border-top-right-radius: 40px;/*右上丸*/
  border-bottom-right-radius: 40px;/*右下丸*/
}
.small{/*変化後のヘッダーのサイズ*/
  top: 0; /*上の余白*/
  padding: 0px;
  border-top-right-radius: 0px;/*右上丸*/
  border-bottom-right-radius: 20px;/*右下丸*/
}
header,li{
  padding: 13px;
  display: inline;
}
header,li,a{/*リンク*/
text-decoration:none;
font-size: 30px;
}
a:link {
color:white;
}
a:visited {
color:#ffff;
}
a:hover {
color:#000000;
text-decoration:none; /*アンダーラインを消す*/
}
a:active {
color:#white;
}

/* ホビーセクション */
.IMlink{
  display: flex; /*要素の並列化*/
  padding-right: 0px;
  padding-top: 0px;
}
.linkBOX{
  position: relative;
  background-color: black;
}
.linkBOX a{
  width: 33%;
  height: auto;
}
.IMlink a img{
  width: 100%;
  height: auto;
  opacity: 0.2; /*透明度*/
}
.IMlink a img:hover{ /*カーソル合わせた時*/
  opacity: 0.5;
}
.linkBOX p{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw; /* ビューポートに合わせて変更 */
  letter-spacing: 1vw; /* 文字間隔 */
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* スキルセクション */
.HobbyBOX{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.IMbox{
  display: flex; /*要素の並列化*/
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0px;
}
.INbox{
  display: flex;
  flex-flow: column; /*要素の縦列化*/
  padding: 1.5%;
  padding-left: 2%;
}
.ICbox{
  display: flex;
  padding: 0px;
}
.ICbox a{
  padding: 10px;
  padding-left: 0px;
  text-decoration:none; /*アンダーラインを消す*/
}
.ICbox i{
  color: #517D99;
  font-size: 40px;
}
.ICbox i:hover{
  color: #6AC1B7;
  font-size: 40px;
}
.ICbox img{
  display: flex;
  padding: 20px;
  width: 30px;
  height: 30px;
}
.ICbox img:hover{
  opacity: 0.75;
  width: 40px;
  height: 40px;
}
.IM{
  width: 30%;
  height:18%;
}

/* ギャラリーセクション */
.gallery {
  padding-right: 2%;
  width: 20%;
  height:11%;
}

/* 別ページ */
.Pic-back {
  position: relative;
  background-color: black;
}
.Pic-back img {
  opacity: 0.2; /*透明度*/
  width: 100%;　/* ページ幅100% */
  margin: 0;　/* 余白の設定 */
}
.H_TOPtext{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw; /* ビューポートに合わせて変更 */
  color: white;
  letter-spacing: 25px; /* 文字間隔 */
  line-height: 100%; /* 行間 */
  font-family: 'Staatliches', cursive;
}
.H_main{
  padding: 7%;
  padding-top: 0px;
  padding-bottom: 2%;
}
.H_IMbox{
  padding: 0px;
  padding-bottom: 3%;
  float: left; /*自動改行*/
}
.H_IMbox img{
  padding: 0px;
  padding-top: 1%;
  padding-right: 1%;
  object-fit: cover; /*比率変えない*/
  height: 200px;
  width: auto;
}
