@charset "utf-8";

/* 共通スタイル */
html,body{
  margin: auto;
  padding: 0px;
  padding-top: 0px;
  width: 100%;
}
.main{
  position: relative;
  z-index: 1;
  margin: 0;
}
h1{
  color: #517D99;
  font-size: 2vw;
  display: block; /* ブロック要素に変更 */
  text-align: center; /* 中央揃えに指定 */
  width: 100%; /* 幅を指定 */
}
h2{
  margin: 0px;
  margin-bottom: 15px;
  font-size: 1.3vw;
  color: #454545;
  font-family: 'Kosugi Maru', sans-serif;
}
p{
  font-size: 1vw;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 1.5%;
  line-height: 150%;
}

/*セクション毎背景*/
#l0 {
  text-align: center; /* 中央揃えに指定 */
  padding: 4% 7%;
  background-color: rgba(0, 0, 0, 0); /* 背景色を透明にする */
}
#l1 {
  text-align: center; /* 中央揃えに指定 */
  padding: 4% 7%;
  background-color: #eff5fa;
}
#l2 {
  padding: 4% 7%;
  background-color: white;
}
#l3 {
  padding: 4% 7%;
  background-color: #f0f0f0;
}
#l4 {
  text-align: center; /* 中央揃えに指定 */
  padding: 4% 7%;
  background-color: white;
}
#l5 {
  text-align: center; /* 中央揃えに指定 */
  padding: 4% 7%;
  background-color: #eff5fa;
}

/* ロード画面 */
#loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #517D99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 9999;
}
#loading-wrapper p{
  color: white;
  font-size: 30px;
  font-family: 'Staatliches', cursive;
}
/* ロードアニメーション */
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/* ロード終わり */
.completed {
  opacity: 0;
  visibility: hidden;
}

/*背景*/
.video-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-back video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

/*ヘッダー*/
header{/*変化前のヘッダーのサイズやアニメーションの設定*/
  position: fixed;
  top: 1.5vw; /*上の余白*/
  background-color: #517D99;
  transition: all 300ms 0s ease;
  z-index: 1;
  border-top-right-radius: 40px;/*右上丸*/
  border-bottom-right-radius: 40px;/*右下丸*/
}

.small{/*変化後のヘッダーのサイズ*/
  top: 0; /*上の余白*/
  padding: 0px;
  border-top-right-radius: 0px;/*右上丸*/
  border-bottom-right-radius: 20px;/*右下丸*/
}
header,li{
  padding: 0.8vw;
  display: inline;
}
header,li,a{/*リンク*/
text-decoration:none;
font-size: 1.5vw;
}
a:link {
color:white;
}
a:visited {
color:#ffff;
}
a:hover {
color:#000000;
text-decoration:none; /*アンダーラインを消す*/
}
a:active {
color:#white;
}
@media(max-width:750px){/*スマホでは非表示*/
  header{
    display: none !important;
  }
}

/*タイトル文字*/
.TOPtext{
  margin: 0;
  margin-top: 3%;
  font-size: 20vw; /* ビューポートに合わせて変更 */
  color: black;
  letter-spacing: 1.5vw; /* 文字間隔 */
  line-height: 100%; /* 行間 */
  font-family: 'Staatliches', cursive;
}


/* ホビーセクション */
.HobbyBOX{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.IMlink{
  display: flex; /*要素の並列化*/
  padding-right: 0px;
  padding-top: 0px;
}
.linkBOX{
  position: relative;
  background-color: black;
}
.linkBOX a{
  width: 33%;
  height: auto;
}
.IMlink a img{
  width: 100%;
  height: 100%;
  opacity: 0.2; /*透明度*/
}
.IMlink a img:hover{ /*カーソル合わせた時*/
  opacity: 0.5;
}
.linkBOX p{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw; /* ビューポートに合わせて変更 */
  letter-spacing: 1vw; /* 文字間隔 */
  color: white;
  font-family: 'Roboto', sans-serif;
}


/* スキルセクション */
.IMbox{
  display: flex; /*要素の並列化*/
  justify-content: center; /* 中央揃え */
  padding:1%;
  padding-left: 0px;
}
.IM{
  width: 30%;
}
.INbox{
  display: flex;
  flex-flow: column; /*要素の縦列化*/
  padding: 2%;
}
.ICbox{
  display: flex;
  padding: 0px;
}
/*リンク*/
.ICbox a{
  padding: 0.8vw;
  padding-left: 0px;
  text-decoration:none; /*アンダーラインを消す*/
}
/*アイコン*/
.ICbox i{
  color: #517D99;
  font-size: 2.5vw;
}
.ICbox i:hover{
  color: #6AC1B7;
  font-size: 2.5vw;
}
.ICbox img{
  display: flex;
  padding: 20px;
  width: 1.8vw;
  height: 1.8vw;
}
.ICbox img:hover{
  width: 2.5vw;
  height: 2.5vw;
}
@media(max-width:750px){/*スマホでは非表示*/
  .ICbox{
    display: none !important;
  }
}
/*スマホ用*/
.ICboxS{
  display: flex;
  padding: 0px;
}
.ICboxS img{
  display: flex;
  padding: 20px;
  width: 4vw;
  height: 4vw;
}
@media(min-width:750px){/*PCでは非表示*/
  .ICboxS{
    display: none !important;
  }
}

/* コンタクト */
.ICbox2{
  display: flex;
  justify-content: center; /* 中央揃え */
}
.ICbox2 img{
  display: flex;
  padding: 20px;
  width: 1.8vw;
  height: 1.8vw;
}
@media(max-width:750px){/*スマホでは非表示*/
  .ICbox2{
    display: none !important;
  }
}
/*スマホ用*/
.ICbox2S{
  display: flex;
  justify-content: center; /* 中央揃え */
}
.ICbox2S img{
  display: flex;
  padding: 20px;
  width: 4vw;
  height: 4vw;
}
@media(min-width:750px){/*PCでは非表示*/
  .ICbox2S{
    display: none !important;
  }
}


/*ギャラリーページCSS*/
.gallery {
  padding-right: 2%;
  width: 20%;
  height:11%;
}

.Pic-back {
  position: relative;
  background-color: black;
}
.Pic-back img {
  opacity: 0.2; /*透明度*/
  width: 100%;　/* ページ幅100% */
  margin: 0;　/* 余白の設定 */
}
.H_TOPtext{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw; /* ビューポートに合わせて変更 */
  color: white;
  letter-spacing: 25px; /* 文字間隔 */
  line-height: 100%; /* 行間 */
  font-family: 'Staatliches', cursive;
}
.H_main{
  padding: 7%;
  padding-top: 0px;
  padding-bottom: 2%;
}
.H_IMbox{
  padding: 0px;
  padding-bottom: 3%;
  float: left; /*自動改行*/
}
.H_IMbox img{
  padding: 0px;
  padding-top: 1%;
  padding-right: 1%;
  object-fit: cover; /*比率変えない*/
  height: 200px;
  width: auto;
}
.btn {
  font-size: 1.5vw;
  border-radius: 20px;
  background-color: #517D99;
  padding: 0.4vw;
  text-decoration: none;
  color: white;
  position: fixed; /* 絶対位置に固定 */
  left: 7%;
  bottom: 1vw;
}
.btn:hover{
  color: white;
  opacity: 0.5;
}
@media(max-width:750px){/*スマホでは非表示*/
  .btn{
    display: none !important;
  }
}
/*画像の処理*/
.image-grid-a,.image-grid-b,.image-grid-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}
.image-grid-a img,.image-grid-b img,.image-grid-c img {
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.image-grid-a img:hover,.image-grid-b img:hover,.image-grid-c img:hover {
  transform: scale(1.1);
}


/*プライベートページ*/
.container {
  text-align: center; /* 中央揃えに指定 */
  padding: 3% 7%;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #eff5fa;
}
#password-input {
  width: 20%;
  height: 5%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
#submit-button {
  background-color: #517D99;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1%;
  cursor: pointer;
}
#submit-button:hover {
  background-color: #454545;
}
#wrong-password {
  color: red;
  margin-top: 10px;
}
#content {
  margin-top: 20px;
}
#P1 {
  padding: 4% 7%;
  background-color: #f0f0f0;
}
